@import './base.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin-left: 200px;
    padding: 20px;
}

.content h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.content section {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.content section p .in-pos{
    color: #939599;
    float: left;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.content section p .in-trans{
    color: #898a8d;
}

.content section p .in-trans-a{
    margin-left: 20px;
}

.content section li {
    list-style: none;
}
.content section li .in-pos{
    color: #939599;
    float: left;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.content section li .in-trans{
    color: #898a8d;
}

.content section li .in-trans-a{
    margin-left: 20px;
}

.active {
    background-color: #ddd;
    color: black;
}

.main-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-exp{
    font-size: 18px;
}

.simple-exp {
    color: #d1d1d1;
}

.word-exp-li {
    margin-bottom: 16px;
}

.express-text {
    font-size: 16px;
    font-weight: bold;
    font-family: Gilroy;
    color: #f9990a;
}

:where(.css-dev-only-do-not-override-b92jn9).ant-message-notice .ant-message-notice-content{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
:where(.css-dev-only-do-not-override-b92jn9).ant-message{
    top: -2px;
}